
<center>
	<div id="wrapper">
		<div id="contenttop">
			<div id="contentbtm">
				<div id="content">
					<div id='wsite-content' class='wsite-elements wsite-not-footer'>
<div class="wsite-flash"><div style="padding-top: 20px; padding-bottom: 20px; text-align: center;">
<object type="application/x-shockwave-flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" align="middle"	height="400px" width="800px" >
<param name="movie" value="http://www.jamieweb.net/play/swf/run-2.swf"> 
<param name="quality" value="high"> 
<param name="play" value="true"> 
<param name="loop" value="true"> 
<param name="wmode" value="transparent"> 
<param name="allowFullScreen" value="true"> 
<param name="flashvars" value=""> 
<embed src="http://www.jamieweb.net/play/swf/run-2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" play="true" loop="true" wmode="transparent" allowfullscreen="true" flashvars="" type="application/x-shockwave-flash" align="middle"  height="400px" width="800px"></embed>
</object>
</div></div></div>
</center>
